@use '../util/color.scss' as c;
@use '../util/mq.scss' as mq;

body {
  background-color: c.$background;
  margin: 0;
}

#content {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 5em;
  @include mq.narrowWidth() {
    width: 100%;
  }
  p {
    margin: 2.25em 0;
  }
  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 5em;
    }
  }

  section.codeblock {
    .line{
      display: flex;
      div.linenumber {
        display: inline-flex;
        padding-right: 1em;
      }
      pre {
        margin: 0;
      }
    }
  }
}
