@use '../util/color.scss' as c;
@use '../util/mq.scss' as mq;

body {
  background-color: c.$background;
  margin: 0;
}

#content {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 5em;
  @include mq.narrowWidth() {
    width: 100%;
  }
  p {
    margin: 2.25em 0;
  }
  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 5em;
    }
  }

  section.codeblock {
    background-color: mix(rgb(40, 40, 40), c.$dtechs-official, 90%);
    border-radius: 3px;
    padding: 1em;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 2.25em;
    .line{
      display: flex;
      div.linenumber {
        display: inline-flex;
        padding-right: 1em;
        color: gray;
        user-select: none;
      }
      pre {
        margin: 0;
        color: white;
      }
    }
    .lang {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 80%;

      display: block;
      padding: 0.25em 1em;
      color: white;

      &::after {
        content: '';
        background-color: mix(rgb(40, 40, 40), c.$dtechs-official, 10%);
        transform: skewX(-30deg);
        height: 100%;
        width: calc(100% + 20px + 0.5em);
        position: absolute;
        left: -20px;
        top: 0;
        z-index: -1;
        box-shadow: 0 0 6px rgba(black, 80%);
      }
    }
  }
}
